@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

*{
  margin: 0; 
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

input, button, textarea, select {
  font: inherit;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Rajdhani", sans-serif;
  background-color: var(--primary-white-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(247, 247, 247);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(47, 48, 93);
  border-radius: 20px;
  border: 3px solid rgb(143, 107, 194);
}