@mixin flexbox($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin custom-width($pixel) {
    max-width: $pixel;
    width: 100%;
}
@mixin title-margin-top {
    margin-top: 120px;
}
@mixin section-content-layout {
    @include flexbox(row, center, center);
    gap: 40px;
    padding-top: 80px;
    @include custom-width(960px);
    color: var(--light-primary-black-color);
    @media screen and (max-width: 990px) {
        padding: 0 20px 0 20px;
    }
}
