:root {
    /* Default theme (light) */
    --light-primary-color: rgb(22, 37, 88);
    --light-primary-black-color: rgb(50, 51, 56);
    --light-primary-white-color: rgb(253, 253, 253);
    --light-second-white-color: rgb(237, 246, 255);
    
    /*FontSize*/
    --font-size-regular: 22px;
  }
  
  .dark-theme {
    /* Dark theme overrides */
    --light-primary-color: rgb(22, 37, 88);
    --light-primary-black-color: rgb(253, 253, 253);
    --light-primary-white-color: rgb(57, 71, 85);
    --light-second-white-color: rgb(50, 51, 56);
  }  

