@import "../../styles/Mixin.scss";

.address {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    span {
        margin-top: 10px;
        font-size: 20px;
        font-weight: 800;
    }
    a {
        font-size: 18px;
        color: var(--light-primary-black-color);
        transition: all 300ms ease;
        transform-origin: left;
        &:hover {
            scale: 1.1;
        }
    }
}
